~$*
.idea
*.iml
*.class
Target
target
log
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.swp
venv
*.sav
*.bak
*.diff
*.toc
comment.cut
overleaf
*.zip
algorithm-numbering-experiment.tex
pas-filter-051321.txt
*bib.sav.tmp
*.cpt
__pycache__
*.bkp
*.dtmp
env
.java-version
unitTestDummyResult/
parameterized-base-ordered-graph
*.duckdb
*.wal
treeTracker/lib
dev/
ProfileReductionTimeProfiling*.sh
YannakakisBssbReductionTimeProfiling.java
TTJHPtpchReductionTimeProfiling.java
YannakakisBtpchReductionTimeProfiling.java
YannakakistpchReductionTimeProfiling.java
YannakakisssbReductionTimeProfiling.java
*.sqlitedb
TTJHPjobReductionTimeProfiling.java
Yannakakis1PassjobReductionTimeProfiling.java
